html {
    height: 100%;
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
  }
.btn {
    padding: 10px;
    margin: 10px;
    color: rgb(62, 164, 33);
}
nav {
    background-image: url("https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:left;

}
ul {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    /* background-color: aqua; */
    height: 100px;
    font-size: 2rem;
}
li {
    list-style: none;
   
}
a {
    text-decoration: none;
}
/* .fa-heart{
    background-color: red;
} */

.mydiv {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    /* background-color: green; */
   
    
}
 img {
    width: 200px;
}
img:hover {
    transform: scale(2);
    border-radius: 50%;
}

/* contact page css */
form{
    display:flex;
    flex-direction: column;
    width: 400px;
    gap: 20px;
    background-color: aqua;
    margin: 0 auto;
    padding: 40px;
  

}
input {
    width: 200px;
    margin: 0 auto;
}
/* About style */
.about-sec{
    margin: 0 auto;
    background-color: green;
}
/* Cart style */
.cart-div {
    background-color: rgb(163, 196, 196);
    box-shadow: 3px 4px 5px 3px rgb(174, 201, 174);
}
.cart-div button {
    background-color: rgb(211, 47, 47);
    color: white;
    padding: 10px;
   
}
.cart-div button:hover {
    background-color: rgba(173, 216, 230, 0.166);
    color: black;
}
footer{
    /* width: 100%;
    height: 50px;
    background-color: aqua;
    text-align: center;
    padding: 20px; */
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: rgba(99, 72, 72, 0.591);
    background-image: url("https://media.istockphoto.com/vectors/abstract-blurred-colorful-background-vector-id1185382671?k=6&m=1185382671&s=612x612&w=0&h=IBwXnZ6t2aDq1wRUGkNB8B_ZdpaoOYuXgs6IBUnX1j4=");
    text-align: center;
    background-size: cover;
    background-position: center;
    
    color: #fff;
   
}
